WebServices/WebServices/Web References/localhost/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersByCountryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BinaryToDecimal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BinaryToDecimalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BinaryToDecimalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecimalToBinary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecimalToBinaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DecimalToBinaryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsItPrime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsItPrimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsItPrimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomersByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCustomersByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="BinaryToDecimalSoapIn">
    <wsdl:part name="parameters" element="tns:BinaryToDecimal" />
  </wsdl:message>
  <wsdl:message name="BinaryToDecimalSoapOut">
    <wsdl:part name="parameters" element="tns:BinaryToDecimalResponse" />
  </wsdl:message>
  <wsdl:message name="DecimalToBinarySoapIn">
    <wsdl:part name="parameters" element="tns:DecimalToBinary" />
  </wsdl:message>
  <wsdl:message name="DecimalToBinarySoapOut">
    <wsdl:part name="parameters" element="tns:DecimalToBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IsItPrimeSoapIn">
    <wsdl:part name="parameters" element="tns:IsItPrime" />
  </wsdl:message>
  <wsdl:message name="IsItPrimeSoapOut">
    <wsdl:part name="parameters" element="tns:IsItPrimeResponse" />
  </wsdl:message>
  <wsdl:portType name="CoreServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">First Web Service</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a country by its code</wsdl:documentation>
      <wsdl:input message="tns:GetCustomersByCountrySoapIn" />
      <wsdl:output message="tns:GetCustomersByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <wsdl:input message="tns:BinaryToDecimalSoapIn" />
      <wsdl:output message="tns:BinaryToDecimalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecimalToBinary">
      <wsdl:input message="tns:DecimalToBinarySoapIn" />
      <wsdl:output message="tns:DecimalToBinarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <wsdl:input message="tns:IsItPrimeSoapIn" />
      <wsdl:output message="tns:IsItPrimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoreServiceSoap" type="tns:CoreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <soap:operation soapAction="http://localhost/GetCustomersByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <soap:operation soapAction="http://localhost/BinaryToDecimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecimalToBinary">
      <soap:operation soapAction="http://localhost/DecimalToBinary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <soap:operation soapAction="http://localhost/IsItPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreServiceSoap12" type="tns:CoreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <soap12:operation soapAction="http://localhost/GetCustomersByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <soap12:operation soapAction="http://localhost/BinaryToDecimal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecimalToBinary">
      <soap12:operation soapAction="http://localhost/DecimalToBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <soap12:operation soapAction="http://localhost/IsItPrime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="CoreServiceSoap" binding="tns:CoreServiceSoap">
      <soap:address location="http://localhost:1984/MyService.asmx" />
    </wsdl:port>
    <wsdl:port name="CoreServiceSoap12" binding="tns:CoreServiceSoap12">
      <soap12:address location="http://localhost:1984/MyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>